body{
    width: 600px;
    margin:auto;
    /* border: 1px solid red; */
    font-family: 'Work Sans', sans-serif;

    
}

div{
    /* border: 1px solid blue; */
}

img{
    width: 100%;
}